body {
    background-image: url("../img/circuitboard.jpg");
}
#question {
    font-family: "Comic Sans MS",fantasy;
    font-size: 32px;
    font-style: italic;
    color: #0000ff;
}
#age {
    font-family: "Comic Sans MS",fantasy;
    font-size: 70px;
    font-style: inherit;
    color: #00ff00;
    text-shadow: 2px 2px #ff00ff;
}
#countdown {
    font-family: "Serif",fantasy;
    font-size: 70px;
    color: #ff0000;
}
#call {
    font-family: "Comic Sans MS",fantasy;
    font-size: 32px;
    font-style: italic;
    text-decoration: underline;
    color: #0000ff;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.rainbow {
    animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
    0% { color: red; }
    15% { color: orange; }
    30% { color: yellow; }
    45% { color: green; }
    60% { color: blue; }
    75% { color: indigo; }
    100% { color: violet; }
}

#bill {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
